<a href="https://colab.research.google.com/github/Faiqazmi/DataScience_Portofolio/blob/main/Ketenagakerjaan_kab_blitar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [ ]:
df_tenagaKerja = pd.read_csv('https://raw.githubusercontent.com/Faiqazmi/Dataset_latihan/main/tenaga_kerja_kab_blitar_2018_2021.csv')

In [ ]:
df_tenagaKerja.head()

,PROVINSI,KABUPATEN_KOTA,KECAMATAN,STATUS,KODE_PUM,DESA_KELURAHAN,TANGGAL,KATEGORI,LAKI-LAKI,PEREMPUAN,JUMLAH,RASIO
0,JAWA TIMUR,KABUPATEN BLITAR,BAKUNG,DESA,3.505052e+09,PLANDIREJO,16/12/2020,PENDUDUK USIA 18 - 56 TAHUN,1.077,1.119,2.196,"1,04"
1,JAWA TIMUR,KABUPATEN BLITAR,BAKUNG,DESA,3.505052e+09,PLANDIREJO,06/11/2014,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,135.000,165.000,300.000,"1,22"
2,JAWA TIMUR,KABUPATEN BLITAR,BAKUNG,DESA,3.505052e+09,PLANDIREJO,16/12/2020,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,432.000,430.000,862.000,"1,00"
3,JAWA TIMUR,KABUPATEN BLITAR,BAKUNG,DESA,3.505052e+09,PLANDIREJO,06/11/2014,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,981.000,798.000,1.779,"0,81"
4,JAWA TIMUR,KABUPATEN BLITAR,BAKUNG,DESA,3.505052e+09,PLANDIREJO,16/12/2020,PENDUDUK USIA 0 - 6 TAHUN,126.000,117.000,243.000,"0,93"

In [ ]:
df_tenagaKerja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINSI        1052 non-null   object
 1   KABUPATEN_KOTA  1052 non-null   object
 2   KECAMATAN       1052 non-null   object
 3   STATUS          1052 non-null   object
 4   KODE_PUM        1050 non-null   float64
 5   DESA_KELURAHAN  1052 non-null   object
 6   TANGGAL         1052 non-null   object
 7   KATEGORI        1052 non-null   object
 8   LAKI-LAKI       1052 non-null   float64
 9   PEREMPUAN       1052 non-null   float64
 10  JUMLAH          1052 non-null   float64
 11  RASIO           1052 non-null   object
dtypes: float64(4), object(8)
memory usage: 98.8+ KB

In [ ]:
for i in df_tenagaKerja.columns:
  print('Unique value dari kolom "{a}" adalah :'.format(a=i))
  print(df_tenagaKerja[i].unique())
  print('dengan total : {}'.format(len(df_tenagaKerja[i].unique())))
  print('')

Unique value dari kolom "PROVINSI" adalah :
['JAWA TIMUR']
dengan total : 1

Unique value dari kolom "KABUPATEN_KOTA" adalah :
['KABUPATEN BLITAR']
dengan total : 1

Unique value dari kolom "KECAMATAN" adalah :
['BAKUNG' 'WONOTIRTO' 'PANGGUNGREJO' 'WATES' 'BINANGUN' 'SUTOJAYAN'
 'KADEMANGAN' 'KANIGORO' 'TALUN' 'SELOPURO' 'KESAMBEN' 'SELOREJO' 'DOKO'
 'WLINGI' 'GANDUSARI' 'GARUM' 'NGLEGOK' 'SANANKULON' 'PONGGOK' 'SRENGAT'
 'WONODADI' 'UDANAWU']
dengan total : 22

Unique value dari kolom "STATUS" adalah :
['DESA' 'KELURAHAN']
dengan total : 2

Unique value dari kolom "KODE_PUM" adalah :
[3.50505200e+09 3.50505200e+09 3.50505201e+09 3.50505201e+09
 3.50505201e+09 3.50505201e+09 3.50505200e+09 3.50508200e+09
 3.50508200e+09 3.50508200e+09 3.50508200e+09 3.50508200e+09
 3.50508201e+09 3.50508201e+09 3.50508201e+09 3.50513200e+09
 3.50513200e+09 3.50513201e+09 3.50513201e+09 3.50513201e+09
 3.50513200e+09 3.50513201e+09 3.50520200e+09 3.50520201e+09
 3.50520201e+09 3.50520201e+09 3.50504000e+09 3.50520200e+09
 3.50520200e+09 3.50520200e+09 3.50516200e+09 3.50516200e+09
 3.50516200e+09 3.50516201e+09 3.50516201e+09 3.50516201e+09
 3.50516201e+09 3.50516201e+09 3.50516201e+09 3.50516201e+09
 3.50516200e+09 3.50512200e+09 3.50512100e+09 3.50512100e+09
 3.50512201e+09 3.50512201e+09 3.50512101e+09 3.50512100e+09
 3.50512100e+09 3.50512201e+09 3.50504200e+09 3.50504200e+09
 3.50504200e+09 3.50504200e+09 3.50504201e+09 3.50504201e+09
 3.50504201e+09 3.50504201e+09 3.50504201e+09 3.50504101e+09
 3.50504201e+09 3.50504201e+09 3.50504202e+09 3.50510200e+09
 3.50510200e+09 3.50508000e+09 3.50510101e+09 3.50510801e+09
 3.50510200e+09 3.50510200e+09 3.50510201e+09 3.50510200e+09
 3.50510201e+09 3.50510201e+09 3.50514200e+09 3.50514201e+09
 3.50514201e+09 3.50514200e+09 3.50509001e+09 3.50509001e+09
 3.50514101e+09 3.50514101e+09 3.50514201e+09 3.50522201e+09
 3.50522200e+09 3.50522200e+09 3.50522201e+09 3.50522200e+09
 3.50510001e+09 3.50522200e+09 3.50522201e+09 3.50519200e+09
 3.50519200e+09 3.50519200e+09 3.50519201e+09            nan
 3.50519201e+09 3.50519201e+09 3.50519201e+09 3.50521200e+09
 3.50521200e+09 3.50521201e+09 3.50521200e+09 3.50521201e+09
 3.50518200e+09 3.50518200e+09 3.50518201e+09 3.50518201e+09
 3.50518201e+09 3.50518200e+09 3.50518200e+09 3.50518201e+09
 3.50518201e+09 3.50517101e+09 3.50517100e+09 3.50517100e+09
 3.50517100e+09 3.50517100e+09 3.50517200e+09 3.50517201e+09
 3.50517201e+09 3.50517201e+09 3.50515200e+09 3.50515200e+09
 3.50515200e+09 3.50515201e+09 3.50515201e+09 3.50515200e+09
 3.50515200e+09 3.50515201e+09 3.50515201e+09 3.50515201e+09
 3.50515201e+09 3.50515201e+09 3.50511200e+09 3.50511100e+09
 3.50511200e+09 3.50511101e+09 3.50511100e+09 3.50511201e+09
 3.50511201e+09 3.50517000e+09 3.50509201e+09 3.50509201e+09
 3.50509201e+09 3.50509200e+09 3.50509200e+09 3.50509101e+09
 3.50509201e+09 3.50509201e+09 3.50509200e+09 3.50507201e+09
 3.50507201e+09 3.50507201e+09 3.50507201e+09 3.50507200e+09
 3.50507200e+09 3.50507200e+09 3.50507201e+09 3.50507201e+09
 3.50507200e+09 3.50506201e+09 3.50506201e+09 3.50506201e+09
 3.50506200e+09 3.50506200e+09 3.50506201e+09 3.50506202e+09
 3.50506201e+09 3.50506200e+09 3.50506201e+09 3.50503202e+09
 3.50503202e+09 3.50503201e+09 3.50503200e+09 3.50503200e+09
 3.50503200e+09 3.50503201e+09 3.50520001e+09 3.50503201e+09
 3.50503201e+09 3.50503101e+09 3.50503201e+09 3.50503101e+09
 3.50503100e+09 3.50503200e+09 3.50501201e+09 3.50501201e+09
 3.50521000e+09 3.50501201e+09 3.50501200e+09 3.50501200e+09
 3.50501201e+09 3.50501201e+09 3.50502201e+09 3.50502201e+09
 3.50502201e+09 3.50502200e+09 3.50502200e+09 3.50502200e+09
 3.50502200e+09 3.50502201e+09 3.50502201e+09 3.50502201e+09
 3.50502201e+09]
dengan total : 205

Unique value dari kolom "DESA_KELURAHAN" adalah :
['PLANDIREJO' 'TUMPAKOYOT' 'BULULAWANG' 'SIDOMULYO' 'TUMPAKKEPUH'
 'KEDUNGBANTENG' 'PULEREJO' 'TAMBAKREJO' 'KALIGRENJENG' 'PASIRAMAN'
 'SUMBERBOTO' 'GUNUNGGEDE' 'NGADIPURO' 'NGENI' 'WONOTIRTO' 'SERANG'
 'SUMBERSIH' 'KALIGAMBIR' 'BALEREJO' 'SUMBERAGUNG' 'PANGGUNGREJO'
 'PANGGUNGASRI' 'RINGINREJO' 'SUKOREJO' 'TUGUREJO' 'WATES' 'TULUNGREJO'
 'PURWOREJO' 'SUMBERARUM' 'MOJOREJO' 'SALAMREJO' 'SUMBERKEMBAR' 'BINANGUN'
 'BIROWO' 'SUKORAME' 'NGADRI' 'SAMBIGEDE' 'UMBULDAMAR' 'TAWANGREJO'
 'NGEMBUL' 'KEDUNGWUNGU' 'PANDANARUM' 'KEDUNGBUNDER' 'SUTOJAYAN' 'BACEM'
 'SUMBERJO' 'KALIPANG' 'KEMBANGARUM' 'KAULON' 'PAKISAJI' 'MARON'
 'KEBONSARI' 'BENDOSARI' 'SURUHWADANG' 'DAWUHAN' 'SUMBERJATI'
 'PLUMPUNGREJO' 'JIMBE' 'KADEMANGAN' 'REJOWINANGUN' 'PLOSOREJO' 'DARUNGAN'
 'MINGGIRSARI' 'GOGODESO' 'KARANGSONO' 'SATREYAN' 'TLOGO' 'GAPRANG'
 'JATINOM' 'KUNINGAN' 'PAPUNGAN' 'BANGGLE' 'SAWENTAR' 'JEBLOG' 'DUREN'
 'SRAGI' 'PASIRHARJO' 'KENDALREJO' 'KAMULAN' 'BAJANG' 'KAWERON' 'JAJAR'
 'MRONJO' 'MANDESAN' 'SELOPURO' 'PLOSO' 'JATITENGAH' 'JAMBEWANGI'
 'TEGALREJO' 'POPOH' 'SIRAMAN' 'KESAMBEN' 'PAGERGUNUNG' 'SUKOANYAR'
 'PAGERWOJO' 'TAPAKREJO' 'KEMIRIGEDE' 'BUMIREJO' 'POHGAJIH' 'SELOREJO'
 'BORO' 'SLOROK' 'GENENGAN' 'JAMBEPAWON' 'SIDOREJO' 'DOKO' 'SURU'
 'SUMBERURIP' 'RESAPOMBO' 'KALIMANIS' 'KLEMUNAN' 'WLINGI' 'TANGKIL' 'BERU'
 'BABADAN' 'TEMBALANG' 'NGADIRENGGO' 'TEGALASRI' 'GONDANG' 'KOTES' 'BUTUN'
 'GANDUSARI' 'SUKOSEWU' 'GADUNGAN' 'NGARINGAN' 'SLUMBUNG' 'SEMEN' 'KRISIK'
 'POJOK' 'SUMBERDIREN' 'TINGAL' 'BENCE' 'TAWANGSARI' 'SIDODADI' 'BANGSRI'
 'JIWUT' 'KRENCENG' 'KEMLOKO' 'DAYU' 'NGORAN' 'NGLEGOK' 'MODANGAN'
 'PENATARAN' 'SUMBERASRI' 'PLOSOARANG' 'TULISKRIYO' 'BENDOWULUNG'
 'KALIPUCUNG' 'SUMBER' 'JEDING' 'SUMBERINGIN' 'BENDO' 'JATILENGGER'
 'KAWEDUSAN' 'DADAPLANGU' 'KEBONDUREN' 'KARANGBENDO' 'GEMBONGAN'
 'SELOKAJANG' 'NGAGLIK' 'PAKISREJO' 'KARANGGAYAM' 'KERJEN' 'WONOREJO'
 'KAUMAN' 'KANDANGAN' 'DANDONG' 'BAGELENAN' 'SRENGAT' 'TOGOGAN'
 'DERMOJAYAN' 'GANDEKAN' 'KUNIR' 'KOLOMAYAN' 'PIKATAN' 'KALIBOTO'
 'REJOSARI' 'KEBONAGUNG' 'RINGINANOM' 'SUMBERSARI' 'KARANGGONDANG'
 'TUNJUNG' 'JATI' 'TEMENGGUNGAN' 'BAKUNG' 'MANGUNAN' 'SLEMANAN'
 'BENDOREJO']
dengan total : 188

Unique value dari kolom "TANGGAL" adalah :
['16/12/2020' '06/11/2014' '19/10/2013' '11/01/2019' '16/09/2020'
 '17/09/2020' '11/11/2019' '26/03/2020' '30/10/2017' '04/11/2020'
 '23/09/2019' '18/10/2013' '08/03/2019' '16/07/2020' '18/12/2020'
 '11/05/2018' '09/06/2020' '24/01/2020' '29/10/2019' '27/01/2020'
 '20/11/2019' '19/11/2020' '06/12/2018' '21/12/2020' '05/10/2017'
 '14/12/2020' '27/04/2020' '05/02/2020' '19/12/2020' '24/07/2019'
 '09/05/2017' '12/01/2021' '02/05/2017' '15/12/2020' '23/05/2017'
 '03/11/2020' '29/11/2018' '26/05/2020' '22/05/2016' '04/05/2016'
 '02/10/2019' '14/09/2020' '19/03/2020' '22/08/2017' '02/08/2017'
 '14/05/2020' '05/11/2019' '15/05/2020' '14/11/2018' '04/06/2020'
 '12/06/2016' '12/02/2020' '10/12/2020' '23/12/2017' '27/07/2017'
 '07/02/2017' '06/05/2017' '04/11/2019' '22/12/2020' '06/02/2020'
 '06/02/2017' '04/08/2020' '30/01/2020' '03/02/2020' '06/01/2020'
 '29/01/2020' '07/02/2020' '18/08/2020' '13/01/2021' '16/01/2019'
 '11/08/2020' '06/01/2021' '08/02/2019' '07/02/2019' '20/06/2020'
 '07/04/2013' '25/08/2014' '05/03/2019' '13/10/2014' '12/03/2020'
 '02/10/2020' '24/06/2020' '15/01/2019' '01/10/2014' '16/12/2019'
 '17/12/2019' '16/11/2019' '10/02/2020' '04/03/2017' '08/06/2017'
 '05/01/2021' '09/06/2017' '15/01/2020' '28/01/2019' '21/02/2019'
 '04/02/2019' '02/10/2017' '04/02/2020' '01/01/2017' '07/08/2017'
 '21/08/2017' '18/10/2017' '15/11/2018' '09/08/2020' '04/04/2019'
 '30/11/2020' '07/12/2020' '17/12/2018' '22/10/2020' '28/11/2020'
 '25/07/2017' '10/12/2019' '02/05/2019' '03/05/2019' '02/12/2020'
 '20/02/2020' '03/12/2019' '01/06/2020' '22/05/2017' '31/07/2017'
 '21/02/2018' '18/06/2020' '18/03/2020' '11/12/2020' '08/12/2016'
 '11/01/2021' '03/05/2016' '07/10/2014' '17/12/2020' '08/11/2014'
 '20/12/2020' '21/11/2015' '16/06/2020' '17/09/2019' '13/06/2017'
 '31/12/2012' '12/08/2020' '13/02/2019' '31/03/2020' '07/01/2019'
 '28/03/2018' '30/11/2015' '22/04/2018' '10/11/2019' '18/02/2020'
 '14/08/2020' '14/02/2018' '02/11/2020' '09/08/2017' '15/11/2020'
 '03/12/2018' '27/02/2020' '03/10/2017' '24/02/2019' '12/07/2017'
 '17/01/2020' '31/12/2018' '15/08/2017' '01/10/2020' '11/02/2020'
 '26/02/2020' '20/02/2018' '02/03/2018' '05/12/2019' '16/05/2017'
 '05/06/2020' '15/11/2019' '11/12/2018' '19/08/2020' '06/12/2019'
 '09/02/2020' '28/02/2018' '15/06/2020' '14/11/2019' '03/01/2021'
 '22/01/2020' '18/05/2017' '14/04/2020' '29/10/2013' '17/10/2017'
 '29/06/2020' '04/09/2020' '25/08/2020' '06/05/2020' '14/12/2018'
 '14/10/2020' '08/11/2019' '11/10/2017' '08/12/2020' '28/11/2014'
 '20/02/2019' '21/10/2015' '21/10/2018' '06/11/2018' '05/09/2019'
 '22/06/2020' '01/12/2020' '19/10/2020' '31/12/2015' '09/11/2019'
 '13/01/2020' '12/06/2017' '05/03/2018']
dengan total : 203

Unique value dari kolom "KATEGORI" adalah :
['PENDUDUK USIA 18 - 56 TAHUN'
 'PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TIDAK BEKERJA'
 'PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN'
 'PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA' 'PENDUDUK USIA 0 - 6 TAHUN'
 'PENDUDUK USIA 56 TAHUN KE ATAS' 'ANGKATAN KERJA']
dengan total : 7

Unique value dari kolom "LAKI-LAKI" adalah :
[  1.077 135.    432.    981.    126.    413.    580.     70.     86.
  89.     29.    350.    113.    116.    208.     42.    612.    140.
 869.     84.    275.      1.129 155.    355.      1.216  87.    379.
 975.    132.    377.      1.067  92.    287.      1.135 965.     52.
 228.    872.    120.    409.      1.451  48.    575.      1.403 419.
 759.      1.079   8.    286.      1.066  85.    357.      1.184  64.
  50.      1.122 141.    489.      1.173 261.    308.    948.    912.
 130.    423.      1.239   3.143 381.    310.      2.487 521.      1.934
   1.766  93.     30.    351.      1.542   1.209 181.    482.      1.342
 795.      9.    382.      1.495 197.    970.    216.    821.    104.
 255.    886.     65.    192.      2.131   0.    665.      1.838 293.
   2.505 854.     14.    378.    983.    122.    313.    990.      7.
 279.      1.507  15.    461.    235.    614.      1.851 215.    623.
   1.883  35.    455.    177.    100.      1.112 129.    578.      1.323
  77.    165.     83.     57.    157.    331.    227.      1.096 114.
 428.      1.151  55.     75.      1.395 598.    101.    154.      1.065
 497.     26.    263.      1.116 151.    523.      1.206  60.      1.546
 689.      1.987  24.      1.243 185.    504.      1.64  397.    156.
  22.    109.    223.     98.    320.    524.    582.    391.    247.
 352.    446.      2.013  90.      2.092 271.    241.    394.     79.
 230.    681.     16.    248.    641.    231.     46.    825.    430.
   1.075 179.    699.      1.143 315.      1.268 125.    562.    302.
 823.      2.124 111.    280.    369.      1.352   2.742   2.029 249.
 750.      2.093 632.    434.     34.    438.      3.     54.    384.
 212.    486.     73.    283.    666.    225.      1.6   414.      1.514
 201.    537.      1.586   1.3     1.278  40.     25.      1.706 335.
 962.      2.133 426.      1.13  180.    277.      1.303 253.    904.
   1.382   1.131 932.      1.008   1.672   2.436   1.064 805.      3.305
   2.123   1.351   2.433 107.    152.    200.      3.42  300.    992.
 214.      1.388   1.001 251.    256.      1.25    1.455 267.    465.
 469.    507.      1.598 650.    644.      1.601   1.423   2.05    1.22
 210.      2.011   1.678   1.579  69.    876.      3.68  172.      2.134
   1.    620.      1.722 367.      1.396   4.022 408.    424.      3.08
 572.      1.189   1.315 525.    789.    749.    103.    808.    832.
 296.    700.    171.    720.    252.    168.      3.024 500.      1.036
   3.231 207.      1.063   4.473   1.946 221.    443.      1.543 121.
 793.      1.224 597.      1.378 527.      1.274 941.    163.    240.
  13.      1.334   1.435 449.      2.564 138.      2.705 365.      2.924
 855.      1.127 136.    429.    833.     56.    341.      1.273   1.141
 184.    559.      1.49  550.      1.932   1.234 407.      1.541 268.
 587.      1.533  59.     88.      2.012   1.211 711.    159.    529.
 600.      1.478 396.     61.    470.    476.    124.      1.78  450.
 127.    460.    871.    317.      5.    493.    693.    481.      1.028
 569.    858.    330.    282.    528.    117.    596.      1.336 412.
   1.279 175.    473.      1.524   2.75    1.35  174.    445.      1.154
 594.      1.539 385.      1.692 787.      1.853  97.    480.    495.
   2.243  19.     81.    232.     58.    108.    676.      1.483 448.
 392.      1.432   1.011 619.    894.    146.    458.    112.    892.
 299.    372.      1.072 194.    250.    105.      2.77  847.      2.301
 284.      1.124   1.831 106.     96.    402.    420.    801.      2.887
 318.    716.      3.102 718.    468.     66.    553.      1.558 390.
   1.201   2.386 373.    472.    164.    441.    957.     31.    336.
 400.      1.996 556.    158.      2.945   1.503 729.    406.    199.
 190.    246.    849.    462.      1.335 571.    895.    345.    237.
   1.213   3.151 931.      3.662   1.192   1.998 585.      2.397 817.
 348.    679.      2.909   1.078  43.      1.245 205.      2.348   1.75
 332.    897.      1.37  265.      1.021   3.203 558.      3.34   99.
 467.    853.    570.    226.      1.23  640.    511.    561.     80.
 209.      1.149 514.      1.612 463.      1.5     3.325   3.25  340.
 969.      2.6   639.      2.572   2.079   2.509   3.69    1.097 509.
   2.27  544.      2.208 798.    652.      1.927 195.    637.    724.
 259.    274.      2.15   82.    471.      1.456 739.    454.      2.889
   3.268   1.452   1.816 189.      1.2     2.073  41.    663.      2.934
   1.847 319.    697.      3.194   3.498   2.737 630.      2.414   1.157
 841.     91.    329.      1.106 229.      1.361   1.006   1.068 178.
   1.136  68.    119.      2.184 745.    347.    842.     78.     76.
 746.    498.    735.      2.005   1.555   2.122   2.221 128.      1.991
 627.      2.423   1.604 349.    647.    173.    383.    170.      1.87
 389.    588.    354.      1.736   2.057   1.571 258.    204.      1.417
 573.      1.567 150.      3.26  678.      1.963  51.    243.    669.
   4.206   1.21    4.1     3.048   3.101 123.    224.      2.858   2.978
 702.      1.895 996.    764.    712.    270.    974.    850.    952.
 134.      1.93  435.    780.    829.    118.    914.    311.    145.
 312.      1.227   1.33    1.007 653.    576.    131.    452.    161.
   1.171   2.015  95.    260.      1.193  32.    202.      1.156 592.
 680.    314.    692.      2.13  664.      2.463   1.439 110.    638.
   1.997 610.      1.921 560.    324.    220.    539.      1.16  387.
   1.401 301.      1.444   1.493  38.    827.    866.    254.      1.244
   4.    305.    512.     62.      2.25  887.      1.002   2.71  343.
   1.307 342.    198.   ]
dengan total : 714

Unique value dari kolom "PEREMPUAN" adalah :
[  1.119 165.    430.    798.    117.    425.    572.     65.     73.
  95.     46.    326.    160.     96.    190.     48.    109.    687.
 119.    924.     42.    240.    970.    163.    359.      1.092 122.
 398.    974.    115.    405.      1.052  78.    299.      1.114 966.
 248.    244.    718.    110.    417.      1.497  55.    613.      1.442
 424.    972.      1.093 256.    316.      1.079  90.    342.      1.178
  56.     57.      1.071 114.    437.      1.151 203.    283.    953.
 948.    123.    456.      1.137   3.127 334.    318.    888.    576.
   1.902   1.787  85.      1.223  31.      1.51    1.192 129.    423.
   1.336 781.    108.    364.      1.194 196.      1.163 224.    808.
 102.    232.    878.     70.    202.      2.775   0.    605.      2.297
 478.      2.902 563.      9.    452.      1.015 128.    365.      1.027
  12.    457.      1.52   21.    448.      1.354 167.    466.      1.899
 207.    631.      1.924  25.    471.    195.    105.    155.    549.
   1.318 170.     26.     64.    168.    242.      1.067 485.      1.116
  49.      1.387 594.    125.    146.      1.047 469.     27.    262.
   1.168 151.    506.      1.212  44.    353.      1.558 410.    713.
   1.97   23.      1.325 169.    512.      1.618 293.    332.     67.
  34.    187.    104.    107.    341.    540.     86.    546.    684.
 562.    310.    476.    705.     76.      2.027 260.    210.    221.
  66.    325.    587.     14.    222.    661.     99.    220.     32.
 810.     43.    416.    659.    384.    519.      1.255 176.    498.
   1.322 243.    797.      2.15   62.    298.    409.    156.    380.
   2.015 554.      2.041 225.      2.115  74.    564.    477.    111.
 479.      2.    389.    475.    229.     69.    289.    626.    136.
   1.645  61.    373.      1.584 175.    603.      1.623  36.      1.085
   1.      5.      1.728 330.    864.      2.16  432.    688.      1.133
 200.    280.      1.307 282.    939.    141.      1.328   1.101 162.
 166.    741.    721.      1.392   2.401 958.    722.      3.371   2.739
 337.    869.      1.39    2.47  120.      3.377 250.    978.    884.
 171.      1.034 984.    276.      1.266 257.      1.448 311.    435.
 381.    524.      1.796   1.415   1.826   1.337  28.      2.135   1.345
 315.      1.275   2.009   1.589   1.552  97.      8.    178.      3.606
 623.    181.      2.435 936.      1.588 259.    875.    321.      1.196
   3.895 252.      3.212 579.      1.103   1.368 890.    510.    556.
 852.    309.    497.    709.    486.    179.      3.006 460.    976.
   3.148 142.      1.053   4.353 267.    349.    681.      1.269 206.
 831.      1.216 191.    535.    427.    609.    815.      1.289 153.
 829.    719.     54.      1.363 396.      2.43  150.    366.      2.75
 383.      2.935 204.    930.      1.077 387.      1.07   41.    317.
 500.      1.314 338.      1.189 145.    402.      1.419 493.      1.858
   1.315 411.      1.555 271.    606.      1.521  83.      1.691   1.839
 255.      1.619 658.    565.    501.    637.    428.    231.    132.
 920.    134.    429.    877.    294.    147.      7.    149.    502.
 499.    642.    806.    368.    226.    438.    568.     29.      1.296
 180.      1.464 184.    553.      1.35  362.      1.27  558.      1.538
 268.      1.768 746.      1.789 483.      1.414 505.      2.382  24.
 621.    835.    245.    832.     77.    738.      1.361 371.      1.305
   1.2   177.    836.    164.    403.      1.251 336.    374.    100.
   2.795 809.      2.219   1.115  40.    266.      1.413 174.    113.
 436.    144.    472.    866.    354.      1.972 752.      3.162   1.21
 695.     16.     52.    464.    301.    586.      1.596 376.      1.384
 548.      1.243 657.    757.    488.    998.    300.      1.927 597.
 148.      2.908   1.449 714.     82.    422.    624.     30.    258.
   1.41  230.    582.    867.    121.     39.      3.11  697.    923.
   2.587 367.      1.191   1.308 566.    386.      2.421 344.    773.
 673.      2.906   1.13    1.256 211.      2.304   1.312 696.    992.
   1.348 133.    988.      3.117 517.      3.453 580.    270.      1.22
 664.    192.    612.     80.    209.      1.237 492.      1.554 421.
 400.      3.27  360.    913.    571.      2.613 777.      2.339   1.405
 453.      3.009   4.079   1.98    2.275 219.      1.959 901.    189.
 638.      1.884 639.    730.    233.    193.    406.      1.364 507.
 395.      2.489   1.388 347.      2.097  58.    627.      1.957   1.542
 284.    678.    161.      3.074   3.296   2.852 616.    541.      1.455
 292.      1.12    1.372   1.01    1.08  172.      1.112 116.      1.143
 734.      1.385 785.    602.      1.678 647.      1.875   1.606 269.
 513.      1.786 761.      2.158 372.    274.      1.939   1.03  617.
   2.38  906.    286.    859.     81.      1.891   1.946 543.      1.721
 101.    444.      2.078 264.    474.    182.      1.24  415.    700.
   1.84    1.304 604.      1.444   1.569   2.518 983.    649.      1.859
 619.     47.    591.      4.055   1.213 511.      1.159   3.502 297.
   3.338   3.259 451.    710.      1.917   1.035 340.      1.106 277.
   1.352 860.    217.    804.    254.    916.    135.    322.      1.068

In [ ]:
df_tenagaKerja.isnull().sum()

PROVINSI          0
KABUPATEN_KOTA    0
KECAMATAN         0
STATUS            0
KODE_PUM          2
DESA_KELURAHAN    0
TANGGAL           0
KATEGORI          0
LAKI-LAKI         0
PEREMPUAN         0
JUMLAH            0
RASIO             0
dtype: int64

In [ ]:
df_tenagaKerja.loc[df_tenagaKerja['KODE_PUM'].isnull()]

,PROVINSI,KABUPATEN_KOTA,KECAMATAN,STATUS,KODE_PUM,DESA_KELURAHAN,TANGGAL,KATEGORI,LAKI-LAKI,PEREMPUAN,JUMLAH,RASIO
473,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,NaN,PAGERWOJO,20/02/2020,ANGKATAN KERJA,1.78,920.0,2.7,"0,52"
474,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,NaN,PAGERWOJO,20/02/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,450.00,471.0,921.0,"1,05"

In [ ]:
df_tenagaKerja.loc[df_tenagaKerja['KECAMATAN'] == 'KESAMBEN']

,PROVINSI,KABUPATEN_KOTA,KECAMATAN,STATUS,KODE_PUM,DESA_KELURAHAN,TANGGAL,KATEGORI,LAKI-LAKI,PEREMPUAN,JUMLAH,RASIO
454,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3.505192e+09,SIRAMAN,05/01/2021,PENDUDUK USIA 18 - 56 TAHUN,2.012,1.839,3.851,"0,91"
455,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3.505192e+09,SIRAMAN,05/01/2021,PENDUDUK USIA 0 - 6 TAHUN,221.000,255.000,476.000,"1,15"
456,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3.505192e+09,SIRAMAN,05/01/2021,PENDUDUK USIA 56 TAHUN KE ATAS,632.000,519.000,1.151,"0,82"
457,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3.505192e+09,SIRAMAN,05/01/2021,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,1.211,1.619,2.830,"1,34"
458,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3.505192e+09,SIRAMAN,05/01/2021,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,711.000,658.000,1.369,"0,93"
459,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3.505192e+09,SIRAMAN,05/01/2021,ANGKATAN KERJA,2.012,1.839,3.851,"0,91"
460,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,KESAMBEN,10/12/2019,ANGKATAN KERJA,500.000,0.000,500.000,"0,00"
461,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,PAGERGUNUNG,02/05/2019,PENDUDUK USIA 0 - 6 TAHUN,159.000,151.000,310.000,"0,95"
462,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,PAGERGUNUNG,03/05/2019,PENDUDUK USIA 56 TAHUN KE ATAS,527.000,565.000,1.092,"1,07"
463,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,PAGERGUNUNG,03/05/2019,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,529.000,501.000,1.030,"0,95"
464,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,PAGERGUNUNG,06/01/2021,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,600.000,637.000,1.237,"1,06"
465,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,PAGERGUNUNG,02/05/2019,ANGKATAN KERJA,1.478,1.555,3.033,"1,05"
466,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,SUKOANYAR,02/12/2020,PENDUDUK USIA 18 - 56 TAHUN,396.000,428.000,824.000,"1,08"
467,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,SUKOANYAR,02/12/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,61.000,55.000,116.000,"0,90"
468,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,SUKOANYAR,02/12/2020,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,163.000,196.000,359.000,"1,20"
469,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,SUKOANYAR,02/12/2020,ANGKATAN KERJA,470.000,202.000,672.000,"0,43"
470,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,SUKOANYAR,02/12/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,476.000,231.000,707.000,"0,49"
471,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,SUKOANYAR,02/12/2020,PENDUDUK USIA 0 - 6 TAHUN,59.000,57.000,116.000,"0,97"
472,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,SUKOANYAR,02/12/2020,PENDUDUK USIA 56 TAHUN KE ATAS,124.000,132.000,256.000,"1,06"
473,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,NaN,PAGERWOJO,20/02/2020,ANGKATAN KERJA,1.780,920.000,2.700,"0,52"
474,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,NaN,PAGERWOJO,20/02/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,450.000,471.000,921.000,"1,05"
475,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,TAPAKREJO,04/02/2019,PENDUDUK USIA 0 - 6 TAHUN,127.000,134.000,261.000,"1,06"
476,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,TAPAKREJO,04/02/2019,PENDUDUK USIA 56 TAHUN KE ATAS,460.000,429.000,889.000,"0,93"
477,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,TAPAKREJO,04/02/2019,PENDUDUK USIA 18 - 56 TAHUN,871.000,877.000,1.748,"1,01"
478,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,TAPAKREJO,04/02/2019,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,317.000,294.000,611.000,"0,93"
479,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 0 - 6 TAHUN,88.000,73.000,161.000,"0,83"
480,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 56 TAHUN KE ATAS,152.000,147.000,299.000,"0,97"
481,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,5.000,7.000,12.000,"1,40"
482,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,KEMIRIGEDE,03/12/2019,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,154.000,149.000,303.000,"0,97"
483,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,493.000,502.000,995.000,"1,02"
484,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,BUMIREJO,01/06/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,693.000,499.000,1.192,"0,72"
485,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,BUMIREJO,01/06/2020,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,481.000,479.000,960.000,"1,00"
486,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,BUMIREJO,01/06/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,1.028,1.196,2.224,"1,16"
487,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,BUMIREJO,01/06/2020,PENDUDUK USIA 0 - 6 TAHUN,235.000,204.000,439.000,"0,87"
488,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,BUMIREJO,01/06/2020,PENDUDUK USIA 56 TAHUN KE ATAS,569.000,642.000,1.211,"1,13"

In [ ]:
df_tenagaKerja['KODE_PUM'].fillna('3.505192e+09', inplace=True)

In [ ]:
df_tenagaKerja.isnull().sum()

PROVINSI          0
KABUPATEN_KOTA    0
KECAMATAN         0
STATUS            0
KODE_PUM          0
DESA_KELURAHAN    0
TANGGAL           0
KATEGORI          0
LAKI-LAKI         0
PEREMPUAN         0
JUMLAH            0
RASIO             0
dtype: int64

In [ ]:
df_tenagaKerja.loc[[473,474]]['KODE_PUM'] = 3505192004.0

In [ ]:
df_tenagaKerja.loc[df_tenagaKerja['KECAMATAN'] == 'KESAMBEN']

,PROVINSI,KABUPATEN_KOTA,KECAMATAN,STATUS,KODE_PUM,DESA_KELURAHAN,TANGGAL,KATEGORI,LAKI-LAKI,PEREMPUAN,JUMLAH,RASIO
454,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3505192001.0,SIRAMAN,05/01/2021,PENDUDUK USIA 18 - 56 TAHUN,2.012,1.839,3.851,"0,91"
455,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3505192001.0,SIRAMAN,05/01/2021,PENDUDUK USIA 0 - 6 TAHUN,221.000,255.000,476.000,"1,15"
456,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3505192001.0,SIRAMAN,05/01/2021,PENDUDUK USIA 56 TAHUN KE ATAS,632.000,519.000,1.151,"0,82"
457,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3505192001.0,SIRAMAN,05/01/2021,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,1.211,1.619,2.830,"1,34"
458,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3505192001.0,SIRAMAN,05/01/2021,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,711.000,658.000,1.369,"0,93"
459,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,KELURAHAN,3505192001.0,SIRAMAN,05/01/2021,ANGKATAN KERJA,2.012,1.839,3.851,"0,91"
460,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192002.0,KESAMBEN,10/12/2019,ANGKATAN KERJA,500.000,0.000,500.000,"0,00"
461,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192005.0,PAGERGUNUNG,02/05/2019,PENDUDUK USIA 0 - 6 TAHUN,159.000,151.000,310.000,"0,95"
462,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192005.0,PAGERGUNUNG,03/05/2019,PENDUDUK USIA 56 TAHUN KE ATAS,527.000,565.000,1.092,"1,07"
463,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192005.0,PAGERGUNUNG,03/05/2019,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,529.000,501.000,1.030,"0,95"
464,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192005.0,PAGERGUNUNG,06/01/2021,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,600.000,637.000,1.237,"1,06"
465,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192005.0,PAGERGUNUNG,02/05/2019,ANGKATAN KERJA,1.478,1.555,3.033,"1,05"
466,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192010.0,SUKOANYAR,02/12/2020,PENDUDUK USIA 18 - 56 TAHUN,396.000,428.000,824.000,"1,08"
467,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192010.0,SUKOANYAR,02/12/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,61.000,55.000,116.000,"0,90"
468,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192010.0,SUKOANYAR,02/12/2020,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,163.000,196.000,359.000,"1,20"
469,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192010.0,SUKOANYAR,02/12/2020,ANGKATAN KERJA,470.000,202.000,672.000,"0,43"
470,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192010.0,SUKOANYAR,02/12/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,476.000,231.000,707.000,"0,49"
471,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192010.0,SUKOANYAR,02/12/2020,PENDUDUK USIA 0 - 6 TAHUN,59.000,57.000,116.000,"0,97"
472,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192010.0,SUKOANYAR,02/12/2020,PENDUDUK USIA 56 TAHUN KE ATAS,124.000,132.000,256.000,"1,06"
473,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,PAGERWOJO,20/02/2020,ANGKATAN KERJA,1.780,920.000,2.700,"0,52"
474,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3.505192e+09,PAGERWOJO,20/02/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,450.000,471.000,921.000,"1,05"
475,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192008.0,TAPAKREJO,04/02/2019,PENDUDUK USIA 0 - 6 TAHUN,127.000,134.000,261.000,"1,06"
476,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192008.0,TAPAKREJO,04/02/2019,PENDUDUK USIA 56 TAHUN KE ATAS,460.000,429.000,889.000,"0,93"
477,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192008.0,TAPAKREJO,04/02/2019,PENDUDUK USIA 18 - 56 TAHUN,871.000,877.000,1.748,"1,01"
478,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192008.0,TAPAKREJO,04/02/2019,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,317.000,294.000,611.000,"0,93"
479,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192007.0,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 0 - 6 TAHUN,88.000,73.000,161.000,"0,83"
480,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192007.0,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 56 TAHUN KE ATAS,152.000,147.000,299.000,"0,97"
481,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192007.0,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,5.000,7.000,12.000,"1,40"
482,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192007.0,KEMIRIGEDE,03/12/2019,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,154.000,149.000,303.000,"0,97"
483,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192007.0,KEMIRIGEDE,03/12/2019,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,493.000,502.000,995.000,"1,02"
484,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192009.0,BUMIREJO,01/06/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,693.000,499.000,1.192,"0,72"
485,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192009.0,BUMIREJO,01/06/2020,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,481.000,479.000,960.000,"1,00"
486,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192009.0,BUMIREJO,01/06/2020,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,1.028,1.196,2.224,"1,16"
487,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192009.0,BUMIREJO,01/06/2020,PENDUDUK USIA 0 - 6 TAHUN,235.000,204.000,439.000,"0,87"
488,JAWA TIMUR,KABUPATEN BLITAR,KESAMBEN,DESA,3505192009.0,BUMIREJO,01/06/2020,PENDUDUK USIA 56 TAHUN KE ATAS,569.000,642.000,1.211,"1,13"

In [ ]:
df_tenagaKerja.isna().sum()

PROVINSI          0
KABUPATEN_KOTA    0
KECAMATAN         0
STATUS            0
KODE_PUM          0
DESA_KELURAHAN    0
TANGGAL           0
KATEGORI          0
LAKI-LAKI         0
PEREMPUAN         0
JUMLAH            0
RASIO             0
dtype: int64

In [ ]:
for i in df_tenagaKerja.columns:
  print(i)

PROVINSI
KABUPATEN_KOTA
KECAMATAN
STATUS
KODE_PUM
DESA_KELURAHAN
TANGGAL
KATEGORI
LAKI-LAKI
PEREMPUAN
JUMLAH
RASIO

In [ ]:
df_tenagaKerja.columns = ['provinsi', 'kabupaten_kota', 'kecamatan', 'status', 'kode_pum', 'desa_kelurahan', 'tanggal', 'kategori', 'laki-laki', 'perempuan', 'jumlah', 'rasio']

In [ ]:
for i in df_tenagaKerja.columns:
  print(i)

provinsi
kabupaten_kota
kecamatan
status
kode_pum
desa_kelurahan
tanggal
kategori
laki-laki
perempuan
jumlah
rasio

In [ ]:
df_tenagaKerja.head(2)

,provinsi,kabupaten_kota,kecamatan,status,kode_pum,desa_kelurahan,tanggal,kategori,laki-laki,perempuan,jumlah,rasio
0,JAWA TIMUR,KABUPATEN BLITAR,BAKUNG,DESA,3505052003.0,PLANDIREJO,16/12/2020,PENDUDUK USIA 18 - 56 TAHUN,1.077,1.119,2.196,"1,04"
1,JAWA TIMUR,KABUPATEN BLITAR,BAKUNG,DESA,3505052003.0,PLANDIREJO,06/11/2014,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,135.000,165.000,300.000,"1,22"

In [ ]:
def cek(x):
  if len(x.split()) == 2:
    l = list()
    for i in x.split():
      a = i.capitalize()
      l.append(a)
    hasil = ' '.join(l)
    return hasil
  else:
    kata = x.capitalize()
    return kata

In [ ]:
cl = ['provinsi', 'kabupaten_kota', 'kecamatan', 'status', 'desa_kelurahan']

for i in cl:
  df_tenagaKerja[i] = df_tenagaKerja[i].apply(cek)

In [ ]:
df_tenagaKerja.head(6)

,provinsi,kabupaten_kota,kecamatan,status,kode_pum,desa_kelurahan,tanggal,kategori,laki-laki,perempuan,jumlah,rasio
0,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,16/12/2020,PENDUDUK USIA 18 - 56 TAHUN,1.077,1.119,2.196,"1,04"
1,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,06/11/2014,PENDUDUK USIA 18 - 56 TAHUN YANG BELUM ATAU TI...,135.000,165.000,300.000,"1,22"
2,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,16/12/2020,PENDUDUK MASIH SEKOLAH 7 - 18 TAHUN,432.000,430.000,862.000,"1,00"
3,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,06/11/2014,PENDUDUK USIA 18 - 56 TAHUN YANG BEKERJA,981.000,798.000,1.779,"0,81"
4,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,16/12/2020,PENDUDUK USIA 0 - 6 TAHUN,126.000,117.000,243.000,"0,93"
5,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,16/12/2020,PENDUDUK USIA 56 TAHUN KE ATAS,413.000,425.000,838.000,"1,03"

In [ ]:
df_tenagaKerja['kategori'] = df_tenagaKerja['kategori'].apply(lambda x: x.lower())

In [ ]:
df_tenagaKerja.head(5)

,provinsi,kabupaten_kota,kecamatan,status,kode_pum,desa_kelurahan,tanggal,kategori,laki-laki,perempuan,jumlah,rasio
0,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,16/12/2020,penduduk usia 18 - 56 tahun,1.077,1.119,2.196,"1,04"
1,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,06/11/2014,penduduk usia 18 - 56 tahun yang belum atau ti...,135.000,165.000,300.000,"1,22"
2,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,16/12/2020,penduduk masih sekolah 7 - 18 tahun,432.000,430.000,862.000,"1,00"
3,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,06/11/2014,penduduk usia 18 - 56 tahun yang bekerja,981.000,798.000,1.779,"0,81"
4,Jawa Timur,Kabupaten Blitar,Bakung,Desa,3505052003.0,Plandirejo,16/12/2020,penduduk usia 0 - 6 tahun,126.000,117.000,243.000,"0,93"

In [ ]:
df_tenagaKerja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provinsi        1052 non-null   object
 1   kabupaten_kota  1052 non-null   object
 2   kecamatan       1052 non-null   object
 3   status          1052 non-null   object
 4   kode_pum        1052 non-null   object
 5   desa_kelurahan  1052 non-null   object
 6   tanggal         1052 non-null   object
 7   kategori        1052 non-null   object
 8   laki-laki       1052 non-null   float64
 9   perempuan       1052 non-null   float64
 10  jumlah          1052 non-null   float64
 11  rasio           1052 non-null   object
dtypes: float64(3), object(9)
memory usage: 98.8+ KB

In [ ]:
col = ['laki-laki',	'perempuan', 'jumlah']

for i in col:
  df_tenagaKerja[i] = df_tenagaKerja[i].astype(float).astype(int)

In [ ]:
df_tenagaKerja['rasio'] = df_tenagaKerja['rasio'].map(lambda x: str(x.replace(',','.')))

In [ ]:
df_tenagaKerja['rasio'] = df_tenagaKerja['rasio'].astype(float)

In [ ]:
df_tenagaKerja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provinsi        1052 non-null   object
 1   kabupaten_kota  1052 non-null   object
 2   kecamatan       1052 non-null   object
 3   status          1052 non-null   object
 4   kode_pum        1052 non-null   object
 5   desa_kelurahan  1052 non-null   object
 6   tanggal         1052 non-null   object
 7   kategori        1052 non-null   object
 8   laki-laki       1052 non-null   int64
 9   perempuan       1052 non-null   int64
 10  jumlah          1052 non-null   int64
 11  rasio           1052 non-null   float64
dtypes: float64(1), int64(3), object(8)
memory usage: 98.8+ KB

In [ ]:
df_tenagaKerja['tanggal'] = df_tenagaKerja['tanggal'].map(lambda x : datetime.strptime(x, '%d/%m/%Y'))

In [ ]:
df_tenagaKerja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provinsi        1052 non-null   object
 1   kabupaten_kota  1052 non-null   object
 2   kecamatan       1052 non-null   object
 3   status          1052 non-null   object
 4   kode_pum        1052 non-null   object
 5   desa_kelurahan  1052 non-null   object
 6   tanggal         1052 non-null   datetime64[ns]
 7   kategori        1052 non-null   object
 8   laki-laki       1052 non-null   int64
 9   perempuan       1052 non-null   int64
 10  jumlah          1052 non-null   int64
 11  rasio           1052 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 98.8+ KB

In [ ]:
df_tenagaKerja = df_tenagaKerja.reindex(columns=['tanggal', 
                                                 'provinsi',	
                                                 'kabupaten_kota',	
                                                 'kecamatan',	
                                                 'status', 
                                                 'desa_kelurahan', 
                                                 'kode_pum', 
                                                 'kategori',
                                                 'laki-laki',
                                                 'perempuan',	
                                                 'jumlah',	
                                                 'rasio'])

In [ ]:
#sheet1
df_tenagaKerja_original = df_tenagaKerja.copy()
df_tenagaKerja_original.index += 1
df_tenagaKerja_original

,tanggal,provinsi,kabupaten_kota,kecamatan,status,desa_kelurahan,kode_pum,kategori,laki-laki,perempuan,jumlah,rasio
1,2020-12-16,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk usia 18 - 56 tahun,1,1,2,1.04
2,2014-11-06,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk usia 18 - 56 tahun yang belum atau ti...,135,165,300,1.22
3,2020-12-16,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk masih sekolah 7 - 18 tahun,432,430,862,1.00
4,2014-11-06,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk usia 18 - 56 tahun yang bekerja,981,798,1,0.81
5,2020-12-16,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk usia 0 - 6 tahun,126,117,243,0.93
...,...,...,...,...,...,...,...,...,...,...,...,...
1048,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 18 - 56 tahun yang bekerja,342,264,606,0.77
1049,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 0 - 6 tahun,82,106,188,1.29
1050,2020-12-14,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 56 tahun ke atas,198,241,439,1.22
1051,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 18 - 56 tahun yang belum atau ti...,184,142,326,0.77
1052,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk masih sekolah 7 - 18 tahun,174,152,326,0.87

In [ ]:
#sheet2
df_tenagaKerja_sortByDate = df_tenagaKerja.copy()
df_tenagaKerja_sortByDate.sort_values(by='tanggal', inplace=True)
df_tenagaKerja_sortByDate.reset_index(drop=True, inplace=True)
df_tenagaKerja_sortByDate.index += 1
df_tenagaKerja_sortByDate

,tanggal,provinsi,kabupaten_kota,kecamatan,status,desa_kelurahan,kode_pum,kategori,laki-laki,perempuan,jumlah,rasio
1,2012-12-31,Jawa Timur,Kabupaten Blitar,Wlingi,Kelurahan,Klemunan,3505171006.0,penduduk usia 56 tahun ke atas,108,129,237,1.19
2,2012-12-31,Jawa Timur,Kabupaten Blitar,Wlingi,Kelurahan,Klemunan,3505171006.0,penduduk usia 0 - 6 tahun,96,113,209,1.18
3,2012-12-31,Jawa Timur,Kabupaten Blitar,Wlingi,Kelurahan,Klemunan,3505171006.0,penduduk usia 18 - 56 tahun yang bekerja,1,1,3,0.77
4,2012-12-31,Jawa Timur,Kabupaten Blitar,Wlingi,Kelurahan,Klemunan,3505171006.0,penduduk masih sekolah 7 - 18 tahun,106,174,280,1.64
5,2013-04-07,Jawa Timur,Kabupaten Blitar,Kanigoro,Desa,Minggirsari,3505102001.0,penduduk usia 56 tahun ke atas,256,276,532,1.08
...,...,...,...,...,...,...,...,...,...,...,...,...
1048,2021-01-13,Jawa Timur,Kabupaten Blitar,Kademangan,Desa,Plumpungrejo,3505042008.0,penduduk usia 0 - 6 tahun,141,141,282,1.00
1049,2021-01-13,Jawa Timur,Kabupaten Blitar,Kademangan,Desa,Plumpungrejo,3505042008.0,angkatan kerja,1,1,2,0.96
1050,2021-01-13,Jawa Timur,Kabupaten Blitar,Kademangan,Desa,Plumpungrejo,3505042008.0,penduduk usia 18 - 56 tahun,1,1,2,0.97
1051,2021-01-13,Jawa Timur,Kabupaten Blitar,Kademangan,Desa,Plumpungrejo,3505042008.0,penduduk masih sekolah 7 - 18 tahun,165,166,331,1.01
1052,2021-01-13,Jawa Timur,Kabupaten Blitar,Kademangan,Desa,Plumpungrejo,3505042008.0,penduduk usia 18 - 56 tahun yang bekerja,904,939,1,1.04

In [ ]:
df_tenagaKerja = df_tenagaKerja[df_tenagaKerja['tanggal'] > '2018-01-01'].reset_index(drop=True)
df_tenagaKerja

,tanggal,provinsi,kabupaten_kota,kecamatan,status,desa_kelurahan,kode_pum,kategori,laki-laki,perempuan,jumlah,rasio
0,2020-12-16,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk usia 18 - 56 tahun,1,1,2,1.04
1,2020-12-16,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk masih sekolah 7 - 18 tahun,432,430,862,1.00
2,2020-12-16,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk usia 0 - 6 tahun,126,117,243,0.93
3,2020-12-16,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Plandirejo,3505052003.0,penduduk usia 56 tahun ke atas,413,425,838,1.03
4,2019-01-11,Jawa Timur,Kabupaten Blitar,Bakung,Desa,Tumpakoyot,3505052002.0,penduduk usia 18 - 56 tahun yang belum atau ti...,70,65,135,0.93
...,...,...,...,...,...,...,...,...,...,...,...,...
904,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 18 - 56 tahun yang bekerja,342,264,606,0.77
905,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 0 - 6 tahun,82,106,188,1.29
906,2020-12-14,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 56 tahun ke atas,198,241,439,1.22
907,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk usia 18 - 56 tahun yang belum atau ti...,184,142,326,0.77
908,2018-03-05,Jawa Timur,Kabupaten Blitar,Udanawu,Desa,Bendorejo,3505022012.0,penduduk masih sekolah 7 - 18 tahun,174,152,326,0.87

In [ ]:
#sheet3
df_kategori_per_kecamatan = df_tenagaKerja.pivot_table(index='kecamatan', columns='kategori', values='jumlah', aggfunc='sum')
df_kategori_per_kecamatan.fillna(0, inplace=True)

for i in df_kategori_per_kecamatan.columns:
  df_kategori_per_kecamatan[i] = df_kategori_per_kecamatan[i].astype(int)
df_kategori_per_kecamatan

kategori,angkatan kerja,penduduk masih sekolah 7 - 18 tahun,penduduk usia 0 - 6 tahun,penduduk usia 18 - 56 tahun,penduduk usia 18 - 56 tahun yang bekerja,penduduk usia 18 - 56 tahun yang belum atau tidak bekerja,penduduk usia 56 tahun ke atas
kecamatan,,,,,,,
Bakung,2,2806,1253,681,401,1004,2744
Binangun,666,4067,1915,2076,2150,1658,2752
Doko,3,2282,1850,10,443,1841,2293
Gandusari,703,3237,3881,859,947,2182,2741
Garum,866,1624,2170,22,7,1185,426
Kademangan,419,1983,2775,690,470,2653,1404
Kanigoro,11,2671,2813,494,17,1603,709
Kesamben,1180,2235,1763,828,1706,1051,1447
Nglegok,21,2194,2821,27,22,480,1839
Panggungrejo,8,1833,909,447,10,1107,1395
Ponggok,108,3165,2081,25,28,1876,2402
Sanankulon,1076,928,3216,852,1163,2728,3593
Selopuro,201,2437,2567,15,16,992,3273
Selorejo,0,3092,1353,11,973,1907,954
Srengat,576,4818,3387,13,642,3058,6055
Sutojayan,777,698,1095,1886,1528,316,211
Talun,11,350,2269,12,554,1922,609
Udanawu,12,2217,905,4,1003,1319,1813
Wates,115,3426,1377,729,673,302,1919
Wlingi,1023,2411,1719,985,2427,969,2034
Wonodadi,8,1162,1574,512,1634,1426,1556
Wonotirto,12,1301,1398,10,8,1026,3132

In [ ]:
df_kategori_per_kecamatan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, Bakung to Wonotirto
Data columns (total 7 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   angkatan kerja                                             22 non-null     int64
 1   penduduk masih sekolah 7 - 18 tahun                        22 non-null     int64
 2   penduduk usia 0 - 6 tahun                                  22 non-null     int64
 3   penduduk usia 18 - 56 tahun                                22 non-null     int64
 4   penduduk usia 18 - 56 tahun yang bekerja                   22 non-null     int64
 5   penduduk usia 18 - 56 tahun yang belum atau tidak bekerja  22 non-null     int64
 6   penduduk usia 56 tahun ke atas                             22 non-null     int64
dtypes: int64(7)
memory usage: 1.4+ KB

In [ ]:
#sheet4
df_kategori_per_gender = df_tenagaKerja.pivot_table(index='kategori', values=['laki-laki', 'perempuan'], aggfunc='sum')
df_kategori_per_gender.reset_index(inplace=True)
df_kategori_per_gender.index +=1
df_kategori_per_gender['total'] = df_kategori_per_gender['laki-laki'] + df_kategori_per_gender['perempuan']
df_kategori_per_gender

,kategori,laki-laki,perempuan,total
1,angkatan kerja,13901,13244,27145
2,penduduk masih sekolah 7 - 18 tahun,48608,46576,95184
3,penduduk usia 0 - 6 tahun,26486,25487,51973
4,penduduk usia 18 - 56 tahun,25338,26009,51347
5,penduduk usia 18 - 56 tahun yang bekerja,27784,31962,59746
6,penduduk usia 18 - 56 tahun yang belum atau ti...,23747,24404,48151
7,penduduk usia 56 tahun ke atas,56747,58639,115386

In [ ]:
#sheet5
df_tenagaKerja_year = df_tenagaKerja.set_index('tanggal')
df_tenagaKerja_year = df_tenagaKerja_year.resample('Y').sum()
df_tenagaKerja_year.reset_index(inplace=True)
df_tenagaKerja_year.drop(columns=['jumlah', 'rasio'],inplace=True)
df_tenagaKerja_year.rename({'tanggal':'Tahun'}, axis=1 ,inplace=True)
df_tenagaKerja_year.index = [1,2,3,4] 
df_tenagaKerja_year

       Tahun  laki-laki  perempuan
1 2018-12-31      25892      27220
2 2019-12-31      34046      33324
3 2020-12-31     150087     156479
4 2021-12-31      12586       9298

In [ ]:
with pd.ExcelWriter('Data_Ketenagakerjaan_Kab_Blitar.xlsx') as writer:
  df_tenagaKerja_original.to_excel(writer, sheet_name='Original')
  df_tenagaKerja_sortByDate.to_excel(writer, sheet_name='Original_byDate')
  df_kategori_per_kecamatan.to_excel(writer, sheet_name='Jumlah_Kategori_per_Kercamatan')
  df_kategori_per_gender.to_excel(writer, sheet_name='Jumlah_Kategori_per_Gender') 
  df_tenagaKerja_year.to_excel(writer, sheet_name='Total_Kategori_per_Tahun')

**Cek Duplikasi Data**

In [ ]:
df_tenagaKerja.shape

(909, 12)

In [ ]:
df_tenagaKerja.duplicated().sum()

0